@font-face {
  font-family: 'Lato-Regular';
  src: url("../font/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Thin';
  src: url("../font/Lato-Thin.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../font/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../font/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Lato-Black';
  src: url("../font/Lato-Black.ttf");
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato-Regular";
  color: #505050;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

p, h1, h2, h3, h4, h5, h6, a {
  text-decoration: none;
  margin: 0px;
  display: block;
  font-family: "Lato-Regular";
}

@media (min-width: 992px) {
  p, h1, h2, h3, h4, h5, h6, a {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  p, h1, h2, h3, h4, h5, h6, a {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  p, h1, h2, h3, h4, h5, h6, a {
    font-size: 20px;
  }
}

@media (min-width: 1900px) {
  p, h1, h2, h3, h4, h5, h6, a {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  p, h1, h2, h3, h4, h5, h6, a {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  p, h1, h2, h3, h4, h5, h6, a {
    font-size: 14px;
  }
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 767px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0px 15px;
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}

.img-box img {
  width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav .nav-link {
  padding: 0.5rem 0.5rem;
  color: #505050;
}

.btn {
  display: inline-block;
  border: 0px;
  border-radius: 0px;
  padding: 0.5rem 1rem;
  color: #fff;
  color: #505050;
  font-family: "Lato-Regular";
  cursor: pointer;
}

@media (min-width: 992px) {
  .btn {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .btn {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  .btn {
    font-size: 20px;
  }
}

@media (min-width: 1900px) {
  .btn {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .btn {
    font-size: 14px;
  }
}

.btn-manu {
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-manu:hover {
  background-color: #1B7642;
  color: #fff;
}

.btn-primary {
  background-color: #1B7642;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background-color: #124c2b;
}

.btn-light {
  background-color: #fff;
  color: #505050;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
}

.btn-light:hover {
  background-color: #e6e6e6;
}

.bg-green {
  background-color: #1B7642;
  color: #fff;
}

.bg-blue {
  background-color: #265781;
  color: #fff;
}

.bg-yellow {
  background-color: #F2E162;
  color: #fff;
}

nav {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

nav .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px calc(100% - 300px);
      grid-template-columns: 300px calc(100% - 300px);
}

nav .container .brand-logo img {
  width: 100%;
}

nav .container .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container .right-content .btn-manu {
  display: none;
}

@media (max-width: 991px) {
  nav .container .right-content .btn-manu {
    display: block;
  }
}

nav .container .right-content .navbar {
  display: block;
}

@media (max-width: 991px) {
  nav .container .right-content .navbar {
    display: none;
  }
}

nav .container .right-content .navbar #search_btn {
  padding: 0rem 1rem;
  background-color: transparent;
  border: 0px;
}

nav .container .right-content .navbar #search_btn img {
  width: 1rem;
}

nav .container .right-content .navbar #search_btn + .search-modal {
  display: none;
}

nav .container .right-content .navbar #font-btn, nav .container .right-content .navbar #lg-btn {
  padding: 0rem 1rem;
}

nav .container .right-content .navbar #lg-btn select {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

nav .container .right-content .navbar .color-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 5px;
  padding: 0px 1rem;
}

nav .container .right-content .navbar .color-group .color-box {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid transparent;
}

nav .container .right-content .navbar .color-group .color-box:hover {
  border: 2px solid rgba(0, 0, 0, 0.411);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

nav .container .right-content .navbar .nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .container .right-content .navbar .nav li {
  position: relative;
}

nav .container .right-content .navbar .nav li:after {
  content: " ";
  width: 1px;
  height: 100%;
  background-color: #505050;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .container .right-content .navbar .nav li:last-child:after {
  display: none;
}

nav .container .right-content .navbar .nav li .nav-link {
  padding: 0px 0.5rem;
}

nav .container .right-content .navbar .nav.no-border li:after {
  display: none;
}

nav .container .right-content .navbar .top, nav .container .right-content .navbar .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .right-content .navbar .top .nav-link:hover, nav .container .right-content .navbar .bottom .nav-link:hover {
  color: #1B7642;
}

nav .container .right-content .navbar .top {
  margin-bottom: 1rem;
}

#hero-section {
  background-image: url("../img/banner1.png");
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 2rem;
}

#hero-section .container {
  height: 80vh;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 5%;
  color: #fff;
  position: relative;
}

#hero-section .container h1, #hero-section .container h2 {
  background-color: #1B7642;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: "Lato-Black";
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  #hero-section .container h1, #hero-section .container h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  #hero-section .container h1, #hero-section .container h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  #hero-section .container h1, #hero-section .container h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1920px) {
  #hero-section .container h1, #hero-section .container h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 991px) {
  #hero-section .container h1, #hero-section .container h2 {
    font-size: 24px;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 575px) {
  #hero-section .container h1, #hero-section .container h2 {
    font-size: 24px;
    letter-spacing: 0.5px;
  }
}

#hero-section .container h2 {
  margin-bottom: 2rem;
}

#hero-section .container #move-next {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #124c2b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hero-section .container #move-next:hover {
  background-color: #1B7642;
  -webkit-transform: translate(-50%, 60%);
          transform: translate(-50%, 60%);
}

#irrigation-section .container {
  padding: 4rem 5%;
}

#service-section .container {
  padding: 4rem 0px;
}

#service-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4vw;
}

#service-section .card-container .card .img-box {
  height: 120px;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#service-section .card-container .card .img-box img {
  width: auto;
  height: 100%;
}

#service-section .card-container .card .card-body .card-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Lato-Regular";
}

@media (min-width: 992px) {
  #service-section .card-container .card .card-body .card-title {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  #service-section .card-container .card .card-body .card-title {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  #service-section .card-container .card .card-body .card-title {
    font-size: 20px;
  }
}

@media (min-width: 1900px) {
  #service-section .card-container .card .card-body .card-title {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  #service-section .card-container .card .card-body .card-title {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  #service-section .card-container .card .card-body .card-title {
    font-size: 14px;
  }
}

#about-section {
  background-color: #3F3531;
  background-image: url("../img/texture2.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: 0px;
}

#about-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

#about-section .container .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-section .container .left-content .img-box {
  position: relative;
}

#about-section .container .left-content .img-box .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  background-color: #1B7642;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#about-section .container .left-content .img-box .play-icon i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about-section .container .left-content .img-box .play-icon::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 3px solid #1B7642;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about-section .container .left-content .img-box .play-icon:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
}

#about-section .container .left-content .img-box .play-icon:hover i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
}

#about-section .container .left-content .img-box .play-icon:hover::before {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
}

#about-section .container .right-content {
  padding: 5rem;
  color: #fff;
}

#about-section .container .right-content h2 {
  font-family: "Lato-Bold";
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  #about-section .container .right-content h2 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  #about-section .container .right-content h2 {
    font-size: 25px;
  }
}

@media (min-width: 1400px) {
  #about-section .container .right-content h2 {
    font-size: 25px;
  }
}

@media (min-width: 1920px) {
  #about-section .container .right-content h2 {
    font-size: 32px;
  }
}

@media (max-width: 991px) {
  #about-section .container .right-content h2 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  #about-section .container .right-content h2 {
    font-size: 20px;
  }
}

#about-section .container .right-content p {
  font-family: "Lato-Regular";
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  #about-section .container .right-content p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  #about-section .container .right-content p {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  #about-section .container .right-content p {
    font-size: 20px;
  }
}

@media (min-width: 1900px) {
  #about-section .container .right-content p {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  #about-section .container .right-content p {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  #about-section .container .right-content p {
    font-size: 14px;
  }
}

footer {
  background-color: #1B7642;
  color: #fff;
  position: absolute;
  width: 100%;
  margin-top: 200px;
}

footer:before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: transparent;
  background-image: url("../img/grass_texture.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

footer .container {
  height: 500px;
}
/*# sourceMappingURL=style.css.map */